<div class="container jumbotron">
  <form>
    <%= form_for @user do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.label :password_confirmation, class: 'form-control', placeholder: 'Confirmar senha' %>
      </div>

      <%= f.submit 'Cadastrar', class: 'btn btn-primary' %>
    <% end %>
</form>

</div>
