<p id="notice"><%= notice %></p>


<div id="contacts" class="container">
  <h1>Contacts</h1>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-center">Nome</th>
        <th class="text-center">Telefone</th>
        <th class="text-center" colspan="3">Ações</th>
      </tr>
    </thead>

    <tbody class="table-hover">
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.name %></td>
          <td><%= contact.phone %></td>
          <td><%= link_to 'Visualizar', contact %> <i class="fa fa-eye fa-lg" aria-hidden="true"></i></td>
          <td><%= link_to 'Editar', edit_contact_path(contact) %> <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></td>
          <td><%= link_to 'Excluir', contact, method: :delete, data: { confirm: 'Are you sure?' } %> <i class="fa fa-times fa-lg" aria-hidden="true"></i></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Novo Contato', new_contact_path, class: 'btn btn-primary' %>
</div>
