<!DOCTYPE html>
<html>
  <head>
    <title>ContactListRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap', media: 'all', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="text-center">
      <h1>Contact List</h1>
      <hr>
    </div>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
